.navbar{
    background-color: burlywood;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    left:0;
    right:0;    
    border: 1px solid black;
    font-style: italic;
}

.footer{
      background-color: burlywood;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    left:0;
    right:0;    
    border: 1px solid black;
    font-style: italic;
}